/* ipad */
@media (min-width: 768px)and (max-width: 1025px){
    .header__navbar-logoimg {
        max-width: 310%;
    }
    .list-coin {
        margin: 10px 20px 10px 50px;

    }
    .list-sub {
        margin: 20px 0 10px 50px;
    }
    .list-market {
        display: none;
        margin: 0px 80px 0 30px;

    }
    .item-btn-purchase{
        display: none ;
    }
    .market-search-btn{
        display: none;
    }
    .item-market-link{
        display: none;
    }
    .investor-list {
        padding: 0;
        margin: 0 17px;
    }
    .item-market-link-ipad{
        display: block;
    }
    .item-market-link-ipad-icon{
        display: none;
    }
    .item-market-link {
        margin-right: 11px;
    }
    .item-coin-updown{
        margin-right:0 ;
    }
    .item-coin-updown-avax{
        margin-right: 0;

    }
    .item-coin-updown-xcn{
        
    margin-right: 146px;

    }
    .item-coin-updown-gari {
        margin-right: 0;
    }
    .investor-list {
    padding: 0;
    margin: 0 28px;
    }
    .technology-list {
        padding-left: 166px;
        padding-right: 50px;
    }
    .section-header-invester{
        margin-right: 11px;

    }
}
/* tablet 740px => 1024px*/
@media (min-width: 740px)and (max-width: 1024px){
    .header__navbar-logoimg {
        max-width: 310%;
    }
    .slider-grid_row {
        background-size: contain;
    }
    .item-sub-coinupdown {
        margin-right: 0px;
    }
    .item-sub-coinname {
        margin-right: 200px;
    }
    .item-coin-name-gt{
        margin-right: 135px;
    }
    .item-coin-price-gt{
        margin-right: 120px;
    }
    .item-coin-name-eth{
        margin-right: 120px;
    }
    .item-coin-price-eth{
        margin-right: 118px;

    }
    .item-coin-name-btc{
        margin-right: 118px;

    }
    .item-coin-price-btc {
        margin-right: 110px;
    }
    .item-coin-name-avax{
        margin-right: 115px;
    }
    .item-coin-price-avax {
        margin-right: 120px;
    }    
    .item-coin-name-xcn{
        margin-right: 125px;
    }
    .item-coin-price-xcn {
        margin-right: 125px;
    }
    .item-coin-name-gari{
        margin-right: 120px;
    }
    .item-coin-price-gari {
        margin-right: 135px;
    }
    .slider-grid_row {
        height: 610px;
    }
    .item-market-link {
        margin-right: 210px;
    }
    .item-sub-cointrade {
        /* display: none; */
        margin-right: 125px;
    }
    .item-coin-trade-gt{
        /* display: none; */
        margin-right: 206px;

    }
    .item-coin-trade-eth{
        margin-right:209px ;
    }
    .item-coin-trade-btc{
        margin-right: 211px;
    }
    .item-coin-trade-avax{
        margin-right: 224px;
    }
    .item-coin-trade-xcn{
        margin-right: 225px;
    }
    .item-coin-trade-gari{
        margin-right: 210px;
    }
    .item-coin-updown{
        margin-right: 0;
    }
    .item-coin-updown-avax{
        margin-right: 0;

    }
    .item-coin-updown-xcn{
        
    margin-right: 0;

    }
    .item-coin-updown-gari {
        margin-right: 0;
    }
    .investor-list {
    padding: 0;
    margin: 0px 20px;
    }
    .technology-list {
        padding-left: 166px;
        padding-right: 50px;
    }
    .section-header-invester{
        margin-right: 11px;

    }
    .more-no-content{
        width: 50%;
    }
    .more-have-content{
        width: 70%; 
    }
    .header__qrandapps{
        display: none;
    }
    .technology-list{
        display: block;
    }
    .slider__halving {
        
        background-size: contain;
        height: 630px;
        
    }
    
}
/* mobile <=740px */
@media (max-width: 741px){
    
    #header{
        max-width: 100%;
    }
    .header__qrandapps{
        display: none;
    }
    .header__navbar-logoimg {
        max-width: 115px;
        margin-left: 7px;
        margin-top: 8px;
    }
    .technology-list{
        display: block;
    }
    
    .header__navbar-btn-login{
        transform: translateX(-135px);
    }
    .header__navbar-btn {
        background-color: rgb(242, 158, 51);
        border-radius: 99px;
        color: #fff;
        font-weight: 600;
        margin-right: 50px;
        padding: 5px 20px;
        cursor: pointer;
        display: none;
        margin-top: 6px;
        transform: translateX(-140px);
    }
    div#intro {
        height: 760px;
    }
    .slider__halving {
        background-size: contain;
        height: 220px;
    }
    .header__navbar-item {
        display: none;
    }
    .grid__column-non-content{
        display: none;
    }
  
    .body__title{
        margin-left: 30px;
        font-size: 1.3rem;
        width: 150%;
        transform: translateX(18px);

    }
    .button-scroll-icon{
        display: block;
    }
    .body__description{
        margin-left: 10px;
        font-size: 0.8rem;
        font-style: italic;
        font-weight:400 ;
        letter-spacing: 0.2rem;
        transform: translateX(71px);

    }
    .body__button-img {
        margin-left: 96px;
        margin-top: 17px;
    }
    .body__connect {
        display: none;

    }
    .grid__row {
        height: 328px;
    }
    .member-item {

        width: 50%;

    }
    .member-list {
        height: 100px;
    }
    .list-market {
        display: none;
    }
    .list-sub {
        display: none;
    }
    .item-coin-trade {
        display: none;
    }
    .list-coin {
        margin: 10px 010px 0;
        font-weight: 600;
    }
    .item-btn-purchase {
        display: none;
    }
    .item-coin-updown {
        display: none;
    }
    .item-coin-price {
        margin-right: 0;
    }
    .market-search-btn{
        display: none;
    }
    .market-search-btn-icon{
        display: none;
    }
    .investor-img {
        width: 104px;
        height: 34px;
    }
    .more-no-content{
        width: 40%;
    }
    .more-have-content{
        width: 75%; 
    }
    .technology-list {
        padding-left: 70px;
        padding-right: 50px;
    }
}